@import '../../style/variables.scss';

.sortBtns {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    &-item {
        &>button {
            border: 1px solid #E9ECEF;
            background-color: #fff;
            border-radius: 15px;
            padding: 18px 15px;
            font-size: 1rem;
            font-weight: 400;
            font-family: Poppins;
            display: flex;
            align-items: center;
            &>img {
                margin-right: 15px;
            }
        }
    }
    & .active {
        &>button {
            border: 2px solid $green;
            border-radius: 15px;
            transform: scale(1)
        }


    }
}