@import '../../style/variables.scss';

.featured {
    margin-top: 240px;
    &-header {
        margin-bottom: 100px;
        &>h2 {
            font-size: 4rem;
            border-left: 7px solid #000;
            padding-left: 60px;
            line-height: 75px;
            margin-bottom: 20px;
        }
        &>p {
            color: $secondary;
            padding-left: 60px;
            font-size: 1.5rem;
            text-align: justify;
            max-width: 1280px;
        }
    }
}