@import '../../style/variables.scss';

.destinations {
    margin-top: 50px;
    &-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(6, 5vw);
        grid-gap: 15px;
        &__item {
            background-color: gray;
            border-radius: 30px;
            position: relative;
            overflow: hidden;

            &:hover {
                .gallery__img {
                    transition: 1s;
                    transform: scale(1.1);
                }
                .destinations-grid__grade, .destinations-grid__name, .destinations-grid__descr {
                    z-index: 1;
                }
            }
        }
        &__grade {
            position: absolute;
            top: 30px;
            left: 30px;
            background-color: #FEF2DE;
            padding: 5px 15px;
            border-radius: 15px;
            &>p {
                font-size: 1.125rem;
                color: $yellow;
            }
        }
        &__name {
            position: absolute;
            left: 30px;
            bottom: 60px;
            color: #FFFFFF;
            &>p {
                text-transform: capitalize;
                font-size: 1.5rem;
                font-weight: 600;    
            }
        }
        &__descr {
            position: absolute;
            left: 30px;
            bottom: 30px;
            color: #FFFFFF;
        }
    }
}

.item-1 {
    grid-column: 1 / span 3; 
    grid-row: 1 / span 3;
}
.item-2 {
    grid-column: 1 / span 3; 
    grid-row: 4 / span 3;
}
.item-3 {
    grid-column: 4 / span 4; 
    grid-row: 1 / span 6;
}
.item-4 {
    grid-column: 8 / span 5; 
    grid-row: 1 / span 3;
}
.item-5 {
    grid-column: 8 / span 2; 
    grid-row: 4 / span 3;
}
.item-6 {
    grid-column: 10 / span 3; 
    grid-row: 4 / span 3;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}