.sortItems {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-content: start;
    &>.tourItem {
        margin-bottom: 30px;
    }
}